@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: #a8d0e6;
  height: 300vh;
  width: fit-content;
}

header {
  background-color: #24305e;
  width: 100vw;
  position: fixed;
  margin-top: 34px;
}

.main-nav {
  height: 13vh;
  padding: 0 10vw;
}

.logo {
  color: #ffff;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}

.logo:hover {
  color: #f9e45b;
  padding-bottom: 7px;
  border-bottom: 2px solid #f9e45b;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}

.navlinks li a:hover {
  color: #f9e45b;
  padding-bottom: 7px;
  border-bottom: 2px solid #f9e45b;
}

.main {
  color: white;
  height: 98vh;
  width: 100vw;
  padding-top: 65px;
  margin: -34px;
}
.infoContainer {
  background-color: #0b1ed1f5;
  height: 62vh;
  width: 80vw;
  margin: 132px auto;
  margin-right: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hello {
  font-size: 60px;
}
.name {
  font-size: 50px;
  font-weight: bold;
}
.about {
  font-size: 40px;
}
.moreabout {
  font-size: 22px;
}
.button button {
  padding: 9px 45px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 8px;
  color: white;
  background-color: red;
  margin: 7px 15px 0 0;
  cursor: pointer;
  border: 1px solid rgb(248, 74, 74);
  font-family: "Oswald", sans-serif;
}
.button button:hover {
  color: red;
  background-color: white;
  border: white;
  font-family: "Oswald", sans-serif;
}
.devImg img {
  width: 250px;
  height: 250px;
  border: 5px white solid;
  border-radius: 135px;
}

.hobbies {
  background-color: #2c7ff1;
  height: 93vh;
  width: 100vw;
}

.myhobbies {
  color: white;
  font-size: 35px;
  font-weight: bold;
  padding-top: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobby_list {
  list-style: none;
  line-height: 90px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 35px;
}

.hobby_list li {
  display: inline-block;
  margin: 0px 20px;
}

.hobby_list li img {
  width: 70px;
  padding-left: 25px;
}

.hobby_list li a {
  display: table-caption;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.skills {
  background-color: #1d5ac7;
  height: 130vh;
  width: 100vw;
}

.myskills {
  color: white;
  font-size: 35px;
  font-weight: bold;
  padding-top: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillcontainer {
  width: 50%;
  padding: 15px;
  margin: 0 auto;
}

/*Animation for flow of the Skill Bars*/
@keyframes load {
  from {
    width: 0%;
  }
}
@-webkit-keyframes load {
  from {
    width: 0%;
  }
}
@-moz-keyframes load {
  from {
    width: 0%;
  }
}
@-o-keyframes load {
  from {
    width: 0%;
  }
}

.bar {
  background-color: #eeeeee;
  padding: 2px;
  border-radius: 15px;
  margin: 10px 5px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.bar::before {
  content: attr(data-skill);
  background-color: #0ac51c;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar .front::before {
  background-color: #992bcc;
}

.bar.back::before {
  background-color: #f58e00;
}

.bar.learning::before {
  width: calc(20% - 10px);
}
.bar.basic::before {
  width: calc(40% - 10px);
  background-color: #d51001;
}
.bar.intermediate::before {
  width: calc(60% - 10px);
}
.bar.advanced::before {
  width: calc(80% - 10px);
}
.bar.expert::before {
  width: calc(100% - 10px);
}

.icon img {
  width: 55px;
}

footer {
  height: 43vh;
  width: 100vw;
  background-color: #24305e;
  color: white;
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: space-around;
  padding-top: 33px;
}

.head {
  font-size: 30px;
  font-weight: 500;
  border-bottom: 5px solid white;
  border-width: 50%;
}

.aboutMe,
.myLanguage,
.mysocial,
.contactme {
  display: flex;
  flex-direction: column;
  align-self: baseline;
}

.aboutMe p {
  padding: 15px 0;
}
.myLanguage ul {
  list-style: none;
  padding: 10px 0;
}

.myLanguage li {
  padding: 3px 0;
}

.mysocial a {
  padding: 7px 0 0 0;
}

.mysocial img {
  width: 35px;
}

.mysocial img:hover {
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

.contactme input {
  padding: 12px;
  margin: 10px 0;
  border-radius: 15px;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  width: 185px;
}

.contactme button {
  padding: 9px 14px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 8px;
  color: white;
  background-color: red;
  margin: 5px 0px 0 0;
  cursor: pointer;
  border: 1px solid rgb(248, 74, 74);
  font-family: "Oswald", sans-serif;
}

.contactme button:hover {
  color: red;
  background-color: white;
  border: white;
  font-family: "Oswald", sans-serif;
}

.copyright {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 7px 0;
}


/*Some Media Queries*/
@media (max-width: 780px) {
  .main {
    height: fit-content;
  }
  .infoContainer {
    flex-wrap: wrap;
    height: fit-content;
    padding: 15px;
  }
  .hobbies {
    height: fit-content;
  }
  .hobby_list {
    flex-wrap: wrap;
  }

  footer {
    flex-wrap: wrap;
    height: fit-content;
  }
}

@media (max-width: 464px) {
  .main {
    height: fit-content;
    padding-top: 185px;
  }
  .infoContainer {
    flex-wrap: wrap;
    height: fit-content;
    width: min-content;
    padding: 10px;
  }
}

@media (max-width: 364px) {
  .main {
    display: flex;
  }
  .infoContainer {
    margin-left: 82px;
  }
  .skills {
    height: fit-content;
  }
}
